# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://lab-final-j9jvkh366-muhammad-shams-prachas-projects.vercel.app
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=your_supabase_service_role_key

# NextAuth Configuration
NEXTAUTH_SECRET=your_nextauth_secret_key
NEXTAUTH_URL=https://lab-final-j9jvkh366-muhammad-shams-prachas-projects.vercel.app

# Email Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shaniparacha2021@gmail.com
SMTP_PASS=rpkg wsjs yddx dino
SMTP_FROM=Lab Management System <shaniparacha2021@gmail.com>

# Application URL
NEXT_PUBLIC_APP_URL=https://lab-final-j9jvkh366-muhammad-shams-prachas-projects.vercel.app
